* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  width: 100%;
  min-height: 100vh;
  background-color: #5555ab;
  color: #fff;
  display: flex;
}

.page__container {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  background-color: #04042b;
}

.randomNumber {
  background-color: #383868;
  padding: 20px;
}

.randomNumber-color {
  color: #9cff9c;
  font-weight: 600px;
}

.numContainer {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
  width: 100%;
}

.numContainer__minmax {
  width: 100%;
  max-width: 42%;
}

.numContainer__input {
  padding: 8px;
  border: none;
  outline: none;
  width: 100%;
  background-color: #383868;
  color: #fff;
}

.button {
  align-self: flex-end;
  border: none;
  outline: none;
  background-color: #292977;
  color: #fff;
  width: 100%;
  font-size: 22px;
  padding: 14px;
  cursor: pointer;
}
